a{
    display: block;
    font-weight: bold;
    background-color: beige;
    color: black        ;
    width: 200px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    margin: 0 auto;
    margin-top: 10px;
}
a:hover{
    background-color: blanchedalmond;
    color: red;
}
a:focus{
    background-color: aquamarine;
    color: yellowgreen;
}
body{
    background-color: cornflowerblue;
}
a:active{
    background-color: darkgreen;
    color: greenyellow;
}